	<H2> List of articles </H2>

	<% @articles.each do |article| %>

		<h2>Title of article: <br>
			<%= article.title %>	
		</h2>

		<p>
			<%= article.text %>
		</p> 

		<p>
			<%= link_to 'Show article', article_path(article) %> ||
			<%= link_to 'Edit article', edit_article_path(article) %> ||
			<%= link_to 'Exterminate', article_path(article), method: :delete, data: {confirm: 'You sure?'} %>
		</p>

		<hr/> 
	<% end %>