<h2> <%= @article.title %> </h2>
<p>
	<%= @article.text %>
</p>
	<br>

		<% @article.comments.each do |comment| %>
			<p> 
				<%= comment.body %>
			</p>

				<p> author:
					<%= comment.author %>
				</p> 

		<% end %>
	<p>
	<i> Add pleez comment, <%= current_user.username %> </i>
				</p>	
			<%= form_for([@article,@article.comments.build]) do |f| %>
			
					
	
 <p>
						<%= f.label :body %><br>
						<%= f.text_area :body %>	
					</p>	

						<p>
							<%= f.submit %>
						</p>

			<% end %>